.rocket-container {
  display: flex;
  flex-direction: column;
  margin: 6% 5%;
  gap: 3rem;
}

.main {
  display: flex;
  gap: 2rem;
}

.rocket-img {
  max-width: 300px;
  width: 100%;
}

.header {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.description {
  line-height: 2.6rem;
  font-size: 1.6rem;
}

.reserved {
  background-color: #18a2b8;
  border-radius: 5px;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  margin-right: 10px;
  padding: 5px;
}

.reserve-btn,
.cancel-btn {
  background-color: #2673f7;
  border: none;
  color: #fff;
  padding: 1.2rem 3rem;
  border-radius: 5px;
  font-size: 1.5rem;
  margin-top: 2rem;
}

.loading {
  display: grid;
  place-items: center;
  font-size: 5rem;
}
